body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

#root {
  /* 1920 * 860기준 퍼센테이지는 62.5% */
  width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  #root {
    width: auto;
  }
}
